@model WebApplication1.Models.MARCA

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PaginaDiseno.cshtml";
}
<h2 style="text-align:center">Editar Marca</h2>
<div>
    @Html.ActionLink("Volver", "Index")
</div>
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="formulario">
        <h4>MARCA</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_MARCA)

        <div class="form_campo">
            @Html.LabelFor(model => model.nombre_marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <br />
                @Html.EditorFor(model => model.nombre_marca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre_marca, "", new { @class = "text-danger" })
         
        </div>

        <div class="form_campo">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
