@model IEnumerable<WebApplication1.Models.VIDEOJUEGO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PaginaDiseno.cshtml";
}

<h2>Videojuegos</h2>

<p>
    @Html.ActionLink("Añadir Videojuego", "Create")
</p>

    @foreach (var item in Model)
    {

        <div class="contedor_perifericos">
            <div class="cartasGrid">
                <div class="cartas">
                    <img src="~/img/Logo.png" alt="...">
                    <h3>Nombre Videojuego: @Html.DisplayFor(modelItem => item.nombre_videojuego)</h3>
                    <p>Precio: @Html.DisplayFor(modelItem => item.precio)</p>
                    <p>Cantidad disponible: @Html.DisplayFor(modelItem => item.cant_disp)</p>
                    <h4>Consola: @Html.DisplayFor(modelItem => item.CONSOLA.nombre_consola)</h4>
                    <br>
                    <button type="button" class="btn btn-info">@Html.ActionLink("Edit", "Edit", new { id = item.ID_VIDEOJUEGO })</button>
                    <br>
                    <button type="button" class="btn btn-info"> @Html.ActionLink("Details", "Details", new { id = item.ID_VIDEOJUEGO })</button>
                    <br>
                    <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.ID_VIDEOJUEGO })</button>
                </div>
            </div>
        </div>
    }
