@model WebApplication1.Models.TALLER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PaginaDiseno.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Detalle de reparacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_dispositivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_dispositivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_REPARACION }) |
    @Html.ActionLink("Regresar a taller", "Index")
</p>
