@model WebApplication1.Models.PERIFERICO

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_PaginaDiseno.cshtml";
}

<h2 style="text-align:center">Eliminar Periférico</h2>
<div>
    @Html.ActionLink("Volver", "Index")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="formulario">
        <h3 style="color:white">¿Está seguro que desea eliminar?</h3>
        <br />
        <br />
        <div class="form_campo">
            @Html.DisplayNameFor(model => model.nombre_periferico)
            <div class="form_eliminar">
                @Html.DisplayFor(model => model.nombre_periferico)
            </div>
        </div>

        <div class="form_campo">
            @Html.DisplayNameFor(model => model.cant_disp)
            <div class="form_eliminar">
                @Html.DisplayFor(model => model.cant_disp)
            </div>
        </div>

        <div class="form_campo">
            @Html.DisplayNameFor(model => model.precio)
            <div class="form_eliminar">
                @Html.DisplayFor(model => model.precio)
            </div>
        </div>

        <div class="form_campo">
            @Html.DisplayNameFor(model => model.MARCA.nombre_marca)
            <div class="form_eliminar">
                @Html.DisplayFor(model => model.MARCA.nombre_marca)
            </div>
        </div>

        <div class="form_campo">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>

    </div>

}
