@model WebApplication1.Models.CONSOLA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PaginaDiseno.cshtml";
}

<h2>Detalle Consolas</h2>

<div>
    <h4>CONSOLA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_consola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_consola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cant_disp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cant_disp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA.nombre_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA.nombre_marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_CONSOLA }) |
    @Html.ActionLink("Regresar", "Index")
</p>
